{% extends 'global/base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
{% include 'store/store_navbar.html' %}
{% endblock navbar %}


{% block content %}
<div class="container">
    <h1 class="text-center orange-title">Reset Password</h1>
    <hr>
    <form method="post" class="mt-5">
        <p class="text-primary">You can change your password for security reasons or reset it if you forget it,
            Your account password is used to order products or access historical purchases.</p>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary float-right" >Submit</button>
    </form>    
</div>
{% endblock %}